<nav class="navbar navbar-expand-md">
    <div class="container">
            <img src="../static/img/minimanagermilitary_.png" width="150" height="45">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/owl_generator">Gerar OWL dos Cenários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Criar Cenário</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br>