{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* The Close Button */
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;

.mo-container {
  border: 1px solid black;
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
}
</style>

<form class="test-plan-form" method="POST" onsubmit="return validateForm();">
      {% csrf_token %}
  <div class="col">
 <br><br>

   {% for s in scenarios %}
      <hr>

    <button type="submit" class="btn btn-secondary" id="createmp">Gerar Cenário {{s.name}}</button>
    <input type="hidden" name="scenario" value="{{ s }}"><br><hr>

   {% endfor %}
  </div>

</div>


<div id="output2"></div><br><br>


</div>
</form>

{% endblock %}